<div id="create-password" class="field hidden">
    <div class="content">
      <h3>Set Room Password</h3>
      <input type="password" id="set-password" placeholder="Enter room password">
      <button id="confirm-password-btn">Create Room</button>
      <button id="cancel-password-btn">Cancel</button>
    </div>
  </div>
  