<form class="content" id="login" action="/api/auth/reset" method="POST">
    <div class="title">
        <span>Security Breach: You</span>
    </div>

    <fieldset class="input_box">
        <input type="text" id="email" name="email" maxlength="100" class="input">
        <label for="email" class="label">Your email, back from the good days...</label>
        <label for="email" class="error">No contact point. No way back.</label>
        <i class='bx bx-envelope icon'></i>
    </fieldset>

    <div class="register">
        <div class="register">
            <p>Wait... I remembered my password after all – <br> to <a href="/login">take me to login.</a></p>
        </div>
    </div>

    <fieldset class="input_box">
        <input type="submit" class="input-submit" value="Reset">
    </fieldset>

    <div class="register">
        <span>New here? <a href="/registration">Register</a> before it’s too late</span>
    </div>
</form>