<form class="content" id="new-password" action="/api/auth/set-new-password" method="POST">
    <div class="title">
        <span>Override Old Code</span>
    </div>

    <input type="hidden" name="hiddenEmail" value="<%= email %>">

    <fieldset class="input_box">
        <input type="password" id="pass" name="password" maxlength="255" class="input">
        <label for="pass" class="label">Secret code to the bunker</label>
        <ul id="password-requirements">
            <li class="requirement">At least one lowercase letter</li>
            <li class="requirement">At least one uppercase letter</li>
            <li class="requirement">At least one number</li>
            <li class="requirement">At least one special character (!@#$%^&*._-)</li>
            <li class="requirement">Between 6 and 256 characters</li>
            <li class="requirement">No spaces allowed</li>
        </ul>
        <i class="bx bx-lock-alt icon"></i>
    </fieldset>

    <fieldset class="input_box">
        <input type="password" id="repeat-pass" name="repeatPassword" maxlength="255" class="input">
        <label for="repeat-pass" class="label">One more time. Make sure it’s right</label>
        <label for="repeat-pass" class="error">Mismatch detected. Re-enter carefully</label>
        <i class="bx bx-lock-alt icon"></i>
    </fieldset>

    <fieldset class="input_box">
        <input type="submit" class="input-submit" value="Set new password">
    </fieldset>
</form>