<div class="content">
    <div class="title">
        <span>Ensure your email is still active.</span>
    </div>
    <p>
        A confirmation link has been sent to <a href="<%= mailBox %>" target="_blank"><%= email %></a>.
        Ensure the message isn’t lost in the static.
    </p>
</div>